#SUBSYSTEM=="tty",ENV{ID_PATH}=="platform-1c1d400.usb-usb-0:1:1.0",SYMLINK+="ttyHCIUART0",TAG+="systemd",ENV{SYSTEMD_WANTS}="nrf52-btattach-hci-uart.service"
SUBSYSTEM=="tty",ENV{ID_PATH}=="platform-1c1d400.usb-usb-0:1:1.0",SYMLINK+="ttyHCIUART0"
