[Unit]
Description=Start btattach, needed to enable Bluetooth for nrf52832 zephyr hci uart adapter
After=bluetooth.target

[Path]
PathExists=/dev/ttyHCIUART0

[Service]
Type=simple
# A delay is needed, 1s seems enough
ExecStartPre=/bin/sleep 1s
ExecStart=/usr/bin/btattach -B /dev/ttyHCIUART0  -S 1000000

[Install]
WantedBy=multi-user.target
