[Unit]
Description=Start btattach, needed to enable Bluetooth for nrf52832 zephyr hci uart adapter
After=bluetooth.target

[Service]
Type=simple
# A delay is needed, 1s seems enough
ExecStartPre=/bin/sleep 1s
ExecStart=/usr/bin/btattach -B "/dev/serial/by-path/%I" -S 1000000
