[Unit]
Description=wifi module power support manager
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c "/usr/lib/wifi_manager/wifi_power.sh on"
ExecStop=/bin/bash -c "/usr/lib/wifi_manager/wifi_power.sh off"

Restart=no

[Install]
WantedBy=multi-user.target
